.small-interview
  .question-difficulties
    > div
      border-bottom-style: solid
      border-bottom-width: 3px
      &.low
        border-color: green
      &.medium
        border-color: yellow
      &.high
        border-color: red

.big-interview
  .question-low
    border-left: solid 3px green

  .question-medium
    border-left: solid 3px yellow

  .question-high
    border-left: solid 3px red

span.answer, span.question, span.comment
  font-weight: bold

.answer, .question, .comment
  margin-top: 1em
